<h3>Users#show</h3>
<h3>ログイン後のホーム画面</h3>

<div class= "container">
  <div class= "row">
    <div class= "col-xs-3">

    <%= render 'users/userinfo', user: @user %>
    <%= render 'books/newbook', book: @book %>
    
    </div>
  </div>
</div>
